
.guide{
    td{width: calc(60% / 6);}
    tr{height: 78px;}
    margin: 13rem ;
    p{font-size:2.8rem; font-weight: bold;
        margin-bottom:1.7rem ; 
    }
    .wrap{width: 100%; display: flex; justify-content: space-between;}

    &-font_info{
        margin-bottom: 3.8rem;
        
        span{ font-size: 1.5rem; margin-bottom: 3.8rem; }

    }
    &-fontArea{
        width: 60%; margin-right: 2rem;
        .solid1{border-bottom: 1px solid black;}
        .solid2{border-bottom: 2px solid black;}
        .guide-thead{ 
            > tr {  padding: 0 50px;
                th{font-size: 17px ;
                }
            }
        }
        .guide-body{
           
            &-inner{ 
                td{font-size: 15px;}
                .Preview{width: 26%;}
                
                .scaleTitel{font-size: 20px; font-weight: bold;}
               
        
            }
        }
    }
    &-etcArea{
        span{font-size: 2.2rem;}
        &_color{
        
            ul{display: flex; margin-bottom: 1rem;
                li { width: 57px;height: 57px;margin-right: 1rem; padding: 1rem; border: 0.5px solid #D6D4DC; border-radius: 12px;  }
            }

        }

        &_btn{
                > div{width: 100%;line-height: 1; display: flex; justify-content: space-between; margin: 1rem;
            }

              
        &_icon-gnb{
            > .menu {width:40%; height: 44px; display: flex; justify-content: space-between;
                .navicon{line-height: 8;}
            
            }

        }

    }

}   

// Text Style 폰트가이드 
// font-weight// medium= 500 //	Regular = 400
.heading1-KR{ font-size: 2.2rem; font-weight: bold; line-height: 1.4545; } 
.heading1-EN {font-size: 2.2rem; font-weight: bold; line-height: 1.3636;}
.title1{font-size: 1.8rem; font-weight: bold; line-height: 0.692;}
.title2{font-size: 1.8rem; font-weight: 500; line-height: 0.6923;}
.title3{font-size: 1.5rem; font-weight: bold; line-height: 0.6818;}
.title4-KR{font-size: 1.5rem; font-weight: 500; line-height: 0.0818;}
.title4-EN{font-size: 1.6rem; font-weight: 500; line-height:0.7272;}
.body1{font-size: 1.7rem; font-weight: 400; line-height:0.68;}
.body2{font-size: 1.5rem; font-weight: bold; line-height:0.6818;}
.body3{font-size: 1.5rem; font-weight: 400; line-height:0.6818;}
.small1{font-size: 1.3rem; font-weight: 400; line-height: 0.6842;}
.small2{font-size: 1.1rem; font-weight: 500; line-height: 0.6875;}
.small3{font-size: 1.1rem; font-weight: 400; line-height: 0.6875;}
.button1{font-size: 1.7rem; font-weight: 500; line-height: 0.68;}
.button2{font-size: 1.5rem; font-weight: 500; line-height: 0.6818;}
// 폰트 가이드 끝


// 버튼 가이드 
.btn-l{width: 34.3rem; height: 4.4rem; font-size: 1.7rem; border-radius: 4px;}
.btn-m{width: 29.1rem; height: 4.4rem; font-size: 1.7rem; border-radius: 4px;}
.btn-s{width: 16.6rem; height: 4.4rem; font-size: 1.7rem; border-radius: 4px;}

.pry-btn1{background-color:$color01; color:$color-gray01;  }
.pry-btn2{ background-color:$color-gray04 ; color: $color-gray03;}
.secon-btn1{ background-color:$color-gray02 ; color:$color-gray06;  }
.secon-btn2{ background-color:$color-gray06 ;  color:$color-gray01; border:1px solid #000 ;}


// Color가이드
.Primary{background-color: #F5D25D ;}
.Primary-Variant{background-color: #EFBB51;}
.Back-ground{background-color:#FFFFFF ;}
.gray-scale01{background-color:$color-gray01; color: #FFFFFF;}
.gray-scale02{background-color:$color-gray02 ;}
.gray-scale03{background-color:$color-gray03 ;}
.gray-scale04{background-color:$color-gray04 ;}
.gray-scale05{background-color:$color-gray05 ;}
.gray-scale06{background-color:$color-gray06 ;}



    
}
