

//헤더 영역
.home-wrap{ max-width: 100%; padding:0  1.6rem ; background-color:bisque; 
    .header-wrap{ width:calc(100% - 3.2rem); height: 4.4rem; position: fixed; display: flex; justify-content: space-between; background-color:forestgreen;
        .home-title{margin: 0.7rem 0;}
        ul{display: flex; align-items: center;
            li:not(:nth-last-child(1)){margin-right: 1.6rem;}
        }
    
    }
    .nav-wrap{ width:calc(100% - 3.2rem); height: 8.3rem; position:fixed; bottom: 0; background-color: aquamarine;
        .nav-list{display : flex; justify-content: space-between; padding: 0 0.8rem;}
        .nav-list :nth-of-type(3) > a >img  {position: absolute; top: -10px; background-color: rebeccapurple;}
        .nav-list :nth-of-type(3) > a >img + span {padding-top: 26px;}
        .nav-list > li  { min-width: 44px;    max-height: 44px;}
        .nav-list > li > a {min-width: 44px; height: 44px; display: flex;flex-direction: column; text-align: center; padding: 20px 0;}
        .nav-list > li > a > img{ margin: 0 auto; margin-bottom: 5px;}
        .nav-list > li > a > span{ }
    }
    .main-wrap{ height: 100vh; padding-top: 4.4rem; background-color: burlywood;}
}
