.storeList{
    &-wrap{
        .storeList-inner{width: 100%; height: 10.8rem; padding:1.5rem 0; border-bottom: 1px solid $color-gray04; box-sizing: border-box;
            &-link{ display: flex;  width: 100%; height: 100%; border: none;
                .storeList-img{ margin-right: 17px;
                    > img { min-width: 100%; height: 100%; border-radius: 8px;  }
                } 
                .storeList-title { width: 100%; position: relative; margin: 0.3rem 0 0.4rem; overflow: hidden; 
                    &_contents{ display: flex; flex-direction: column;  
                        span { display: block; overflow: hidden; white-space: nowrap;  text-overflow: ellipsis;}
                        small { margin-bottom: 10px;}
                    }
                    &_likeIcon { position: absolute; bottom: 0; right: 0;}
                }
                
            }

        }
    }
}