@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
  line-height: 1.4;
  word-break: keep-all;
}

button {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  color: inherit;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: inherit;
  box-sizing: border-box;
}

html { /* rem 정의 */
  font-size: 10px;
}

@media screen and (max-width: 320px) {
  html { /* rem 정의 */
    font-size: 10px;
  }
}
@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSansKR-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSansKR-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSansKR-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSansKR-Black.woff);
  font-weight: 900;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-Black.ttf);
  font-weight: 900;
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-Bold.ttf);
  font-weight: 700;
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-Medium.ttf);
  font-weight: 500;
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-Regular.ttf);
  font-weight: 400;
  unicode-range: U+0041-005A, U+0061-007A;
}
.guide {
  margin: 13rem auto;
  max-width: 170rem;
}
.guide td {
  width: 10%;
}
.guide tr {
  height: 78px;
}
.guide p {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1.7rem;
}
.guide .wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.guide-left-wrap {
  width: calc(45% - 2.5rem);
}
.guide-font_info {
  margin-bottom: 3.8rem;
}
.guide-font_info span {
  font-size: 1.5rem;
  margin-bottom: 3.8rem;
  font-weight: 500;
}
.guide-font_info span:last-child {
  margin-left: 2rem;
}
.guide-fontArea {
  font-weight: 500;
}
.guide-fontArea .solid1 {
  border-bottom: 1px solid black;
}
.guide-fontArea .solid2 {
  border-bottom: 2px solid black;
}
.guide-fontArea .guide-thead > tr th {
  font-size: 17px;
  text-align: left;
}
.guide-fontArea .guide-body-inner td {
  vertical-align: middle;
}
.guide-fontArea .guide-body-inner td:not(:nth-child(2)) {
  font-size: 15px;
}
.guide-fontArea .guide-body-inner .Preview {
  width: 22%;
}
.guide-fontArea .guide-body-inner .scaleTitle {
  font-size: 20px;
  font-weight: bold;
}
.guide-etcArea {
  width: calc(55% - 2.5rem);
}
.guide-etcArea span {
  font-size: 2.2rem;
  font-weight: 500;
}
.guide-etcArea_color ul {
  display: flex;
  margin-bottom: 1rem;
}
.guide-etcArea_color ul li {
  width: 57px;
  height: 57px;
  margin-right: 1rem;
  padding: 1rem;
  border: 0.5px solid #D6D4DC;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
}
.guide-etcArea_btn > div {
  width: calc(100% - 2rem);
  line-height: 1;
  display: flex;
  align-items: center;
  margin: 1rem;
  gap: 1%;
}
.guide-etcArea_btn > div span {
  font-weight: 500;
  font-size: 1.5rem;
}
.guide-etcArea_icon-gnb ul {
  width: 40%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guide-etcArea_color, .guide-etcArea_btn, .guide-etcArea_icon-gnb {
  margin-bottom: 5rem;
}

.heading1-KR {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.4545454545;
}

.heading1-EN {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.3636363636;
}

.title1 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4444444444;
}

.title2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4444444444;
}

.title3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4666666667;
}

.title4-KR {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4666666667;
}

.title4-EN {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
}

.body1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.body2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4666666667;
}

.body3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
}

.small1 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.4615384615;
}

.small2 {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4545454545;
}

.small3 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
}

.button1 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4705882353;
}

.button2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4666666667;
}

.btn-l {
  width: 34.3rem;
  height: 4.4rem;
  font-size: 1.7rem;
  border-radius: 4px;
  font-weight: 500;
}

.btn-m {
  width: 29.1rem;
  height: 4.4rem;
  font-size: 1.7rem;
  border-radius: 4px;
  font-weight: 500;
}

.btn-s {
  width: 16.6rem;
  height: 4.4rem;
  font-size: 1.7rem;
  border-radius: 4px;
  font-weight: 500;
}

.pry-btn1 {
  background-color: #F5D25D;
  color: #000000;
}

.pry-btn2 {
  background-color: #E8E8E8;
  color: #9E9E9E;
}

.secon-btn1 {
  background-color: #3E3E3E;
  color: #FFFFFF;
}

.secon-btn2 {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000;
}

.Primary {
  background-color: #F5D25D;
}

.Primary-Variant {
  background-color: #EFBB51;
}

.Back-ground {
  background-color: #FFFFFF;
}

.gray-scale01 {
  background-color: #000000;
  color: #FFFFFF;
}

.gray-scale02 {
  background-color: #3E3E3E;
}

.gray-scale03 {
  background-color: #9E9E9E;
}

.gray-scale04 {
  background-color: #E8E8E8;
}

.gray-scale05 {
  background-color: #F6F6F6;
}

.gray-scale06 {
  background-color: #FFFFFF;
}

.container-maxWidth {
  max-width: 72rem;
  margin: 0 auto;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.header-wrap {
  padding: 0 1.6rem;
  position: fixed;
  z-index: 9999;
  height: 4.4rem;
  display: flex;
  width: 100%;
  max-width: 72rem;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  background-color: #fff;
}
.header-wrap .home-title {
  margin: 0.7rem 0;
}
.header-wrap .home-topIcon {
  display: flex;
  align-items: center;
}
.header-wrap .home-topIcon a {
  cursor: pointer;
}
.header-wrap .home-topIcon li:not(:nth-last-child(1)) {
  margin-right: 1.6rem;
}

.nav {
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  max-width: 72rem;
}
.nav .nav-wrap {
  width: 100%;
  position: relative;
  height: 9.5rem;
  overflow: hidden;
}
.nav .nav-wrap .nav-list {
  position: absolute;
  background-color: #FFFFFF;
  bottom: 0;
  width: 100%;
  box-shadow: 0 1px 7px 0 #9E9E9E;
  display: flex;
  justify-content: space-between;
  max-height: 8.3rem;
}
.nav .nav-wrap .nav-list > li {
  width: 100%;
  position: relative;
  color: #9E9E9E;
}
.nav .nav-wrap .nav-list > li.active {
  color: #000000;
}
.nav .nav-wrap .nav-list > li > a {
  min-width: 4.4rem;
  height: 44px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
}
.nav .nav-wrap .nav-list > li > a > img {
  width: 2.4rem;
  margin: 0 auto;
  margin-bottom: 5px;
}
.nav .nav-write-btn {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #F5D25D;
  border-radius: 2.2rem;
  padding: 1.1rem 1.9rem;
  position: absolute;
  right: 1.6rem;
  bottom: 9.8rem;
}

.container-wrap {
  padding: 4.4rem 0 8.3rem;
}

.header-position {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.side-filter {
  overflow-y: auto;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.3s;
  width: 100%;
  z-index: 10000;
  position: fixed;
  max-width: 72rem;
  height: 100vh;
  background-color: #fff;
}
.side-filter.on {
  transform: translateX(0%);
  opacity: 1;
}
.side-filter_depth1 {
  width: 100%;
}
.side-filter_depth1.on {
  border-bottom: 1px solid #E8E8E8;
}
.side-filter_depth1.on img {
  transform: rotate(270deg);
}
.side-filter-depth2 {
  background-color: #F6F6F6;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.side-filter-depth2 li:last-child {
  border-bottom: 0;
}
.side-filter-depth2.on {
  height: 604px;
}
.side-filter-item {
  padding: 1.6rem 2.6rem 1.6rem 3.6rem;
  cursor: pointer;
}
.side-filter__close-btn {
  padding-top: 0;
  padding-bottom: 0;
  height: 4.4rem;
}
.side-filter__close-btn button {
  height: 100%;
}
.side-filter__close-btn img {
  max-width: 1.4rem;
  vertical-align: middle;
}
.side-filter_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.6rem 1.6rem 3.6rem;
  cursor: pointer;
}
.side-filter li {
  border-bottom: 1px solid #E8E8E8;
}
.side-filter li + li img {
  max-width: 0.8rem;
  transform: rotate(180deg);
  transition: 0.3s;
}
.side-filter li + li span img {
  transform: rotate(180deg) translateY(-2px);
  margin-left: 0.6rem;
}

.fileList {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
}
.fileList h3 {
  font-size: 34px;
  margin-bottom: 40px;
  text-align: center;
}
.fileList ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.fileList ul li a {
  display: block;
  background-color: #ccc;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  color: #000;
  transition: 0.3s;
}
.fileList ul li a:hover {
  background-color: #eee;
  text-decoration: none;
}

.storeList-wrap .storeList-inner {
  width: 100%;
  height: 10.8rem;
  display: flex;
  padding: 1.2rem 1.6rem;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;
}
.storeList-wrap .storeList-inner-link {
  display: flex;
  min-width: 90%;
  height: 100%;
  border: none;
}
.storeList-wrap .storeList-inner-link .storeList-img {
  max-width: 8.7rem;
  margin-right: 2.5rem;
}
.storeList-wrap .storeList-inner-link .storeList-img > img {
  min-width: 100%;
  height: 100%;
  border-radius: 8px;
}
.storeList-wrap .storeList-inner-link .storeList-title {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.storeList-wrap .storeList-inner-link .storeList-title_contents {
  display: flex;
  flex-direction: column;
  min-width: 70%;
}
.storeList-wrap .storeList-inner-link .storeList-title_contents span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.4rem;
}
.storeList-wrap .storeList-inner-link .storeList-title_contents small {
  margin-bottom: 10px;
}
.storeList-wrap .storeList-inner .storeList-likeIcon {
  min-width: 10%;
  margin-top: auto;
}
.storeList-wrap .storeList-inner .storeList-likeIcon img {
  width: 2rem;
}

.splashScreen {
  width: 100%;
  height: 100vh;
  background-color: #EFBB51;
  display: block;
  margin: 0 auto;
}
.splashScreen svg {
  fill: #FFFFFF;
  display: block;
  margin: 0 auto;
}
.splashScreen div {
  max-height: 7.8rem;
  margin: 0 auto;
  padding-top: calc(50vh - 39px);
  color: #FFFFFF;
  text-align: center;
}
.splashScreen div p {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1rem;
}

.login {
  text-align: center;
  padding: 0 4.4rem;
  height: 100vh;
}
.login-form {
  margin: 17.86vh auto 0;
}
.login-form__logo {
  fill: #EFBB51;
  margin-bottom: 3.2rem;
}
.login-form__input input {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 0 12px;
  border: 1px solid #E8E8E8;
  background-color: #F6F6F6;
  border-radius: 4px;
  text-indent: 1.7rem;
  margin-bottom: 1.2rem;
}
.login-form__input button {
  width: 100%;
}
.login-social {
  margin-top: 10.5rem;
}
.login-social-list {
  display: flex;
  max-width: 84.32%;
  margin: 2rem auto 5.5rem;
  justify-content: center;
}
.login-social-list li {
  width: 18.2%;
  max-width: 7rem;
}
.login-social-list li + li {
  margin-left: 2.2rem;
}
.login-social-list li img {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .login-form {
    margin-top: 25vh;
  }
}
.storeItem img {
  display: inline-block;
  width: 100%;
}
.storeItem .padding-top-header {
  padding-top: 4.4rem;
}
.storeItem-item-name {
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}
.storeItem-item-name__label {
  background-color: #3E3E3E;
  color: #FFFFFF;
  border-radius: 1.1rem;
  padding: 0.2rem 1rem 0.3rem;
}
.storeItem-item-content {
  padding: 0.7rem 1.6rem 0;
  margin-bottom: 10.2rem;
}
.storeItem-item-content h4 {
  margin-bottom: 1rem;
}
.storeItem-item-content ul {
  display: flex;
  margin-bottom: 1rem;
}
.storeItem-item-content li {
  padding: 0.2rem 1rem 0.3rem;
  color: #3E3E3E;
  background-color: #E8E8E8;
  border-radius: 4px;
}
.storeItem-item-content li:not(:last-child) {
  margin-right: 1rem;
}
.storeItem-menu {
  background-color: #FFFFFF;
  width: 100%;
  max-width: 72rem;
  position: fixed;
  z-index: 3;
  bottom: 0;
  display: flex;
  padding: 1.6rem 1.6rem 3.4rem;
  border-top: 1px solid #E8E8E8;
  box-sizing: border-box;
}
.storeItem-menu__like {
  text-align: center;
  width: 4.4rem;
  margin-right: 1.2rem;
}
.storeItem-menu__like img {
  width: 2.4rem;
  margin: 0 auto;
}
.storeItem-menu__like span {
  color: #9E9E9E;
  display: block;
}
.storeItem-menu .chatting-btn {
  width: calc(100% - 4.4rem);
}
.storeItem .header-inner-back {
  width: 0.8rem;
}
.storeItem .swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.chatting .btn-s {
  width: 50%;
}
.chatting-header {
  padding: 0 1.6rem 1.6rem;
  border-bottom: 1px solid #E8E8E8;
}
.chatting-header-location {
  height: 4.4rem;
  display: flex;
  align-items: center;
}
.chatting-header-location a {
  width: 2.4rem;
  display: inline-block;
  margin-right: 2rem;
}
.chatting-header-location a img {
  width: 100%;
}
.chatting-header-btns {
  display: flex;
  gap: 1.2rem;
}
.chatting-main {
  margin: 1.2rem 1.6rem 0;
}
.chatting-main li:not(:first-child) {
  margin-top: 1.2rem;
}
.chatting-main-me span, .chatting-main-other span {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 3rem;
}
.chatting-main-me {
  text-align: right;
}
.chatting-main-me span {
  background-color: #F5D25D;
}
.chatting-main-other span {
  background-color: #E8E8E8;
}
.chatting-message {
  max-width: 72rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border-top: 1px solid #E8E8E8;
  padding: 1.6rem 1.6rem 3.4rem;
  align-items: center;
}
.chatting-message a {
  width: 2rem;
  margin-right: 1.2rem;
}
.chatting-message a img {
  width: 100%;
}
.chatting-message input {
  width: calc(100% - 3.2rem);
  height: 4.4rem;
  border: 1px solid #E8E8E8;
  background-color: #F6F6F6;
  border-radius: 0.4rem;
  text-indent: 1.8rem;
}
.chatting-popup {
  display: none;
  margin: 0 auto;
  max-width: 72rem;
}
.chatting-popup .btn-s {
  width: 50%;
}
.chatting-popup__wrap {
  width: 100%;
  max-width: 72rem;
  padding: 1.6rem 1.6rem 3.4rem;
  position: fixed;
  z-index: 6;
  bottom: 0;
  box-sizing: border-box;
  border-radius: 0.4rem 0.4rem 0 0;
  background-color: #FFFFFF;
}
.chatting-popup__wrap-item {
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url("/assets/images/icon-select.png") no-repeat calc(100% - 2rem) 50%; /* 화살표 모양의 이미지 */
  background-size: 16px;
  border-color: #E8E8E8;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  height: 4.4rem;
  margin-bottom: 10.5rem;
  padding: 0 2rem;
}
.chatting-popup__btns {
  display: flex;
  gap: 1.2rem;
}
.chatting-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
}

.addItem {
  height: 100vh;
  overflow-y: auto;
}
.addItem-img {
  margin: 2rem 3.6rem;
  position: relative;
  height: 5.9rem;
  overflow-x: scroll;
  overflow-y: clip;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.addItem-img::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.addItem-img input {
  display: none;
}
.addItem-imgList {
  display: inline-flex;
  gap: 0.5rem;
  position: absolute;
  top: 0;
}
.addItem-imgList li {
  width: 5.7rem;
  height: 5.7rem;
  display: inline-block;
  border: 1px solid #E8E8E8;
  border-radius: 0.4rem;
}
.addItem-imgList li .adding-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.addItem-imgList li label img {
  display: block;
  padding: 1.8rem 1.7rem;
  width: auto;
}
.addItem-valueList li {
  display: flex;
  padding: 1.8rem 1.6rem;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  position: relative;
}
.addItem-valueList li img {
  transform: rotate(180deg);
  width: 0.6rem;
}
.addItem-valueList li div {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.addItem-valueList-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.addItem textarea {
  font-family: "Noto Sans", sans-serif;
  width: calc(100% - 3.2rem);
  margin: 0 1.6rem;
  background-color: #F6F6F6;
  border: 0;
  padding: 1.6rem 2rem;
  box-sizing: border-box;
  outline: none;
  resize: none;
  height: calc(100% - 55.5rem);
}
.addItem textarea::-moz-placeholder {
  color: #000000;
}
.addItem textarea::placeholder {
  color: #000000;
}
.addItem-buttons {
  display: flex;
  margin: 1.2rem 1.6rem 4.1rem;
  gap: 1.2rem;
}
.addItem-buttons button {
  width: 50%;
}

.townInfo-popular-posts {
  padding: 1rem 1.6rem;
  box-sizing: border-box;
  border-bottom: 8px solid #E8E8E8;
}
.townInfo-popular-posts .title2 {
  margin-bottom: 1rem;
}
.townInfo-popular-posts__label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F5D25D;
  width: 1.6rem;
  height: 1.6rem;
  text-align: center;
}
.townInfo-popular-posts__title {
  margin-bottom: 1rem;
}
.townInfo-popular-posts ul li {
  display: flex;
  position: relative;
  margin-bottom: 1.2rem;
}
.townInfo-popular-posts ul li img {
  display: block;
  width: 6rem;
  border-radius: 0.8rem;
  margin-right: 1rem;
}
.townInfo-taps__list {
  padding: 0 1.6rem;
  display: flex;
  gap: 2.4rem;
  border-bottom: 1px solid #E8E8E8;
  position: relative;
}
.townInfo-taps__list .tap-moving-bar {
  display: block;
  position: absolute;
  bottom: 0;
  background-color: #000000;
  height: 1px;
  left: 1.6rem;
  width: 3.313rem;
  transition: 0.3s;
}
.townInfo-taps__list li:not(.tap-moving-bar) {
  color: #9E9E9E;
  padding: 1rem 0;
  cursor: pointer;
}
.townInfo-taps__list li:not(.tap-moving-bar).on {
  color: #000000;
}
.townInfo-taps__content {
  display: none;
  padding: 0 1.6rem;
}
.townInfo-taps__content.on {
  display: block;
}
.townInfo-taps__questions-item {
  padding: 2rem 0;
}
.townInfo-taps__questions-item .question-profile {
  display: flex;
}
.townInfo-taps__questions-item .question-profile .title3 {
  margin-bottom: 0.2rem;
}
.townInfo-taps__questions-item .question-profile img {
  width: 4rem;
  margin-right: 0.6rem;
}
.townInfo-taps__questions-item .question-content {
  margin: 1rem 0;
}
.townInfo-taps__questions-item .question-texts {
  word-break: keep-all;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.27px;
  margin-bottom: 1rem;
}
.townInfo-taps__questions-item .question-content-imgs {
  height: 19.4rem;
  display: grid;
  grid-template-columns: 56% 44%;
  grid-template-rows: 50% 50%;
  row-gap: 4px;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.townInfo-taps__questions-item .question-content-imgs img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.townInfo-taps__questions-item .question-content-imgs li:first-child:nth-last-child(1) {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.townInfo-taps__questions-item .question-content-imgs li:first-child:nth-last-child(3), .townInfo-taps__questions-item .question-content-imgs li:first-child:nth-last-child(3) ~ li:not(:first-child) {
  grid-column: 2/2;
}
.townInfo-taps__questions-item .question-content-imgs li:first-child:nth-last-child(3), .townInfo-taps__questions-item .question-content-imgs li:first-child:nth-last-child(3) ~ li:first-child {
  grid-column: 1/1;
  grid-row: 1/span 2;
}

.myPage ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.6rem 1.6rem;
  border-bottom: 1px solid #E8E8E8;
}
.myPage ul li a > img {
  width: 0.6rem;
  transform: rotate(180deg);
}
.myPage ul li a span {
  vertical-align: middle;
}
.myPage ul li a span img {
  width: 6.4rem;
  margin-right: 1.7rem;
  vertical-align: middle;
}/*# sourceMappingURL=main.css.map */